<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document: {{.Title}}</title>
    <link rel="stylesheet" href="doc.css"/>
</head>
<body>
<h1>{{.Title}}</h1>
{{.HTMLContent}}
<footer>
    <hr/>
    <address>Built with <a href="https://github.com/mikan/docbaseview" target="_blank">docbaseview</a></address>
</footer>
</body>
</html>
